<!-- <h1>Hello World, Angular 17</h1>
<h3>{{ city.toLocaleLowerCase() }}</h3>
<p>{{ 1 + 1 }}</p> -->

<!-- <app-user /> -->

<!-- <router-outlet /> -->

<div>
  <h1>What me seems Angular?</h1>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      architecto dolorem, recusandae molestiae voluptate quisquam cumque
      suscipit itaque fugit officiis consectetur quod neque reiciendis porro
      quibusdam aliquam obcaecati dolore consequuntur? Lorem ipsum dolor sit
      amet consectetur, adipisicing elit. Laboriosam soluta vel natus eligendi,
      aut unde, suscipit ad esse debitis id adipisci enim consequuntur eum
      voluptas quae quidem placeat? Ea, non! Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Quia ad repudiandae pariatur doloremque
      omnis, asperiores saepe, aliquam nisi maxime perspiciatis assumenda esse
      quod illum sunt. Eos blanditiis facere esse quasi.
    </p>
  </article>

  @defer (on viewport) {
  <app-comments />
  } @placeholder {
  <p>Placeholder...</p>
  } @loading {
  <p>Loading...</p>
  }
</div>
